<h3>
  Выбор категорий
</h3>
<%= render 'categories/categories' %>
<h3>
  Выбор по тегу
</h3>
<%= render partial: 'tags/tags', locals: { tags: @tags} %>
<%= link_to 'Создать пост', new_post_path if current_user %>
<%= render @posts %>
